## ORIGINAL DATA

In [117]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_path = "Resources/04-Pandas_homework_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
file_df = pd.read_csv(csv_path)
#sort by SN alphabetically
file_df = file_df.sort_values("SN")

file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
630,630,Aelaria33,23,Male,171,Scalpel,1.79

## Player Count

In [118]:
#PLAYER COUNT
#Extract the necessary data from the main file
unique_players_df = file_df[["SN","Age","Gender","Price"]]
unique_players_group = unique_players_df.groupby(["SN"])
unique_players_group = unique_players_group.sum()
#Rename Column
unique_players_group = unique_players_group.rename(columns={"Price":"Total Purchases (USD)"})

print("PLAYER COUNT")
unique_players = file_df["SN"].nunique()
print(f"Total Unique Players: {unique_players}")
print(f"Total Plays: {file_df['SN'].count()}")
unique_players_group.head()

PLAYER COUNT
Total Unique Players: 576
Total Plays: 780

              Age  Total Purchases (USD)
SN
Adairialis76   16                   2.28
Adastirin33    35                   4.48
Aeda94         17                   4.91
Aela59         21                   4.32
Aelaria33      23                   1.79

## Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [119]:
#Extract the necessary data from the main file
PA_df = file_df[['Purchase ID','Item Name', 'Price']]
##PA_df.head()

#NUMBER OF UNIQUE ITEMS + PURCHASES
unique_items = PA_df["Item Name"].nunique()
print(f"Total Unique Items: {unique_items}")

unique_purchases = PA_df["Purchase ID"].nunique()
print(f"Total Unique Purchases: {unique_purchases}")

#TOTAL REVENUE
total_rev = file_df["Price"].sum()
print(f"Total Revenue: ${total_rev}")

#Grouped by Item Name
item_group = PA_df.groupby(["Item Name"])
#Found the Avg of each Item
average_purchase_price = item_group.mean()
#Format Price to 2 decimals w/ a $ sign
average_purchase_price["Price"] = average_purchase_price["Price"].astype(float).map("${:.2f}".format)
#Rename Price to Avg Price
average_purchase_price = average_purchase_price.rename(columns={"Price":"Avg. Price"})
#Drop the Purchase ID
average_purchase_price = average_purchase_price.drop(columns=["Purchase ID"])

average_purchase_price.head()

Total Unique Items: 179
Total Unique Purchases: 780
Total Revenue: $2379.77

                               Avg. Price
Item Name
Abyssal Shard                       $2.67
Aetherius, Boon of the Blessed      $3.39
Agatha                              $3.08
Alpha                               $2.07
Alpha, Oath of Zeal                 $4.05

In [120]:
# !!! Need to round to 2 DECIMALS !!!
total_avg = file_df["Price"].mean()

print(f"Avg Item Price: ${total_avg}")

Avg Item Price: $3.0509871794871795

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [172]:
#CREATE THE DF
#Remove duplicates of the SN
de_duped_sns = file_df.drop_duplicates(subset="SN")

gender_group = de_duped_sns.drop(columns=["Purchase ID","Age","Item ID","Item Name","Price"])
gender_group = gender_group.rename(columns={"SN":"Gender Count"})

#Group by Gender
gender_group = gender_group.groupby(["Gender"])

#Convert Group to DF
gender_df = pd.DataFrame(gender_group["Gender Count"].count())
#gender_df.head()

In [171]:
#DETERMINE THE PERCENTAGES AND MAKE THEM INTO A SEPARATE DF
female_percent = gender_df.loc["Female","Gender Count"]/unique_players
#print(f"Female Players: {female_percent}%")

male_percent = gender_df.loc["Male","Gender Count"]/unique_players
#print(f"Male Players: {male_percent}%")

non_disclosed_percent = gender_df.loc["Other / Non-Disclosed","Gender Count"]/unique_players
#print(f"Non-Disclosed Players: {non_disclosed_percent}%")

gen_percent_df = pd.DataFrame({
    "Gender": ["Female","Male","Other / Non-Disclosed"],
    "Gender Percent": [female_percent, male_percent, non_disclosed_percent]})
#gen_percent_df

In [173]:
#MERGE THE TWO DFs

merge_genders = pd.merge(gender_df, gen_percent_df, on="Gender")
#set new index
merge_genders = merge_genders.set_index("Gender")
#format percents
merge_genders["Gender Percent"] = merge_genders["Gender Percent"].astype(float).map("{:.2f}%".format)

merge_genders

                       Gender Count Gender Percent
Gender
Female                           81          0.14%
Male                            484          0.84%
Other / Non-Disclosed            11          0.02%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

The below each broken by gender

* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [203]:
gender_purchase_group = file_df.groupby(["Gender","SN"])
#gender_purchase_group

In [200]:
#PURCHASE COUNT
#Convert Group to DF
purchases_count_df = pd.DataFrame(gender_purchase_group["Purchase ID"].count())
#Rename
purchases_count_df = purchases_count_df.rename(columns={"Purchase ID":"Purchase Count"})

#gender_purchases_df.head()

In [201]:
#AVG PURCHASE PRICE
#Convert Group to DF
purchases_price_df = pd.DataFrame(gender_purchase_group["Price"].mean())
#Rename
purchases_price_df = purchases_price_df.rename(columns={"Price":"Avg Price"})

#purchases_price_df.head()

In [202]:
#TOTAL PURCHASE VALUE
#Convert Group to DF
purchases_total_df = pd.DataFrame(gender_purchase_group["Price"].sum())
#Rename
purchases_total_df = purchases_total_df.rename(columns={"Price":"Total Purchases"})

#purchases_total_df.head()

In [199]:
#MERGE THE TWO DFs

#triple_merge = pd.join(gender_purchases_df, purchases_price_df, purchases_total_df, how='outer')

triple_merge = gender_purchases_df.merge(purchases_price_df, how='outer', left_index=True, right_index=True)
triple_merge = triple_merge.merge(purchases_total_df, how='outer', left_index=True, right_index=True)
#set new index
#merge_genders = merge_genders.set_index("Gender")
#format percents
#merge_genders["Gender Percent"] = merge_genders["Gender Percent"].astype(float).map("{:.2f}%".format)

triple_merge.head()

                      Purchase Count  Avg Price  Total Purchases
Gender SN
Female Adastirin33                 1       4.48             4.48
       Aerithllora36               2       4.32             8.64
       Aethedru70                  1       3.54             3.54
       Aidain51                    1       3.45             3.45
       Aiduesu86                   1       4.48             4.48

In [ ]:
new_df = triple_merge.drop(columns=["Purchase ID"])

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame